<div class="hero">
    <img src="/assets/images/hero-splash.jpg" alt="">

    <div class="heroText">
    <h1>Give us your money!</h1>
    </div>
</div>

<div class="summary contentBlock cardShadow">
    <h2>Search items</h2>
    <p>Apply a category filter, or search by seller name</p>
    <div class="optionsRow">
        <button class="dropDownParent"><p>Select a Category <span>v</span></p>
            <div class="dropDownChild"><ul class="dropDownOptions">
                <li class="dropDownOption">Option 1</li>
                <li class="dropDownOption">Option 2</li>
            </ul></div>
        </button>
    </div>
</div>

<div class="bigColumn">
    {{#each productRows}}
        <div class="cardRow">
            {{#each this}}
                <div class="cardShadow miniCard">
                    <img src={{this.image}} alt="">
                    <div class="miniCardInfo">
                        {{this.name}}
                        <p class="price">${{this.price}}</p>
                    </div>

                    <p class="description hidden">
                        {{this.description}}
                    </p>
                    <div class="cardIcons">
                        </a>
                        <i class="fa-solid fa-cart-plus cardIcon"></i>
                        <i class="fa-solid fa-heart cardIcon"></i>

                        <i class="fa-solid fa-shop cardIcon">
                            <a href="/product/{{this.id}}"></a>
                        </i>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>