<div class="bigColumn">
    {{#each productRows}}
        <div class="cardRow">
            {{#each this}}
                <div class="cardShadow miniCard">
                    <img src={{this.image}} alt="">
                    <div class="miniCardInfo">
                        {{this.name}}
                        <p class="price">${{this.price}}</p>
                    </div>

                    <p class="description hidden">
                        {{this.description}}
                    </p>
                    <div class="cardIcons">
                        </a>
                        <i class="fa-solid fa-cart-plus cardIcon"></i>
                        <i class="fa-solid fa-heart cardIcon"></i>

                        <i class="fa-solid fa-shop cardIcon">
                            <a href="/product/{{this.id}}"></a>
                        </i>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>

<script src="./js/profile.js"></script>
